* {
    margin: 0;
    padding: 0;
}

.home{
    
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.2rem;
    
}
.non-home{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    background-color: black;
}
.cart-link-navbar{
    color: white;
    font-size: 2rem;
    display: flex;
    
}

.cart-nav-badge{
    color: black;
    background-color: white;
    height: max-content;
    border-radius: 1rem;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    font-size: 1rem;
    margin-left: -1rem;
    margin-bottom: -2rem;



}



.navbar-parent ul {
    
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;

}

.right-menu {
    display: flex;
    gap: 2rem;
    padding-right: 2rem;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
}

.left-menu {
    display: flex;
    padding-left: 2rem;
}

a{
    text-decoration: none;
    color: white;
    border-radius: 0.2rem;
    padding: 0.8rem;
}

a:hover{
    background-color: rgba(255, 255, 255,0.8);
    color: black;
}
.wishlist-navbar{
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
}
.wishlist-badge-manager{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wishlist-badge-manager p{
    font-size: 1.2rem;
    margin-top: -1.5rem;
    margin-right: -1.5rem;
    color: black;
    background-color: white;
    border-radius: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

